<%= render "shared/sidebar" %>

<div class="container-fluid">
<h1>All Listings</h1>

<!-- <% @listings.each do |listing| %>
  <p><%= link_to listing.title, listing_path(listing) %></p>
<% end %> -->

<% @listings.each do |listing| %>

<div class="card" style="width: 30rem;">
  <div class="row no-gutters">
    <div class="col-md-4">

  <%# The below link to helper allows the photo or listing title to be clicked on which will take you to view that product singurlarly in "show" %>
    <%= link_to listing_path(listing) do %>

  <%# The below renders the partial to handle image display %>
  <div class="show-image">
    <%= render "image-logic", listing: listing %>
  </div>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <%= listing.title %> </h5>
        <% end %>
        <h6 class="card-subtitle mb-2 text-muted"><%= number_to_currency(listing.price) %> / <%= listing.uom.unit %></h6>
        <!-- <h6 class="card-subtitle mb-2 text-muted"> Qty Avail: <%= listing.qty %> </h6> -->
        
        <p class="card-text"><small class="text-muted"> Category: <%= listing.category.name %> (<%= listing.subcategory.name %>)</small></p>

        <p class="card text">Description: <%= listing.description %> </p>
        <p class="text">📍<%= listing.user.location.suburb %> </p>
        <p class="text">Grown by: <%= listing.user.first_name %>  </p>
        
        <%# **** NEED TO SETUP UP LINK TO VIEW ALL GROWERS PRODUCE LISTINGS *****%>
        <a href="#" class="btn btn-primary">View All <%= listing.user.first_name %>'s Produce</a>

      </div>
    </div>
  </div>
</div>

<% end %>


<%= render "shared/back" %>
</div>


<!-- <div class="card" style="width: 30rem;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>

        <p class="card text-justify">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> -->
