<div class="container container-fluid">
  <%= render "shared/sidebar" %>
    <div class="content">

<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<h2>View Listing</h2>
<div class="card" style="width: 30rem;">
  <div class="row no-gutters">
    <div class="col-md-12">   
     <div class="card-top">
<div class="img-show">
  <%= render "image-logic", listing: @listing %>
</div>
   <div class="card-top-text">
  <h5 class="card-title"> <%= @listing.title %></h5>
  <p class= "card-subtitle mb-2 text-muted"><strong>Price: </strong><%= number_to_currency(@listing.price) %> / <%= @listing.uom.unit %></p>
  <p><strong>Category: </strong><%= @listing.category.name %><br>
  <strong>Type: </strong><%= @listing.subcategory.name %><br>
  <strong>Description: </strong><%= @listing.description %>
  <p class="text"><strong>Suburb: </strong><%= @listing.user.location.suburb %><br>
  <strong>Grower: </strong><%= @listing.user.first_name %></p>
  <%= link_to "Meet the Grower", user_path(@listing.user.id) %>
  </div>
  </div>
  </div>

<div class="show-edit-delete">
<br>
  <% if can? :edit, @listing %>
    <%= link_to "Edit", edit_listing_path(@listing.id) %>
    <%= link_to "Delete", listing_path(@listing.id), method: "delete" %>
    <% end %>

<%# when add sold boolean need to add && @listing.sold == false %>
  <% if user_signed_in? && @listing.user.id != current_user.id %>
  <br>
    <%= link_to "Add to Cart", carts_path(listing_id: @listing.id), method: :post %>
  <% end %>

</div>

<%= render "shared/back" %>

</div>
</div>
</div>

<div>
<h2>Location: </h2><br>
<p><i>(Exact street address for pickup will be provided upon order confirmation)</i></p>
<!-- <p class="text">Suburb:<%= @listing.user.location.full_address %><br>
<p class="text">Co-ords: Long:<%= @listing.user.location.longitude %> | Lat: <%= @listing.user.location.latitude %><br> -->

<div style="height: 300px; width: 250px" id="map"></div>
<%= javascript_pack_tag "leaflet/show" %>
</div>