<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<h1>Show Listing</h1>

<h5> <%= @listing.title %></h5>
<p><strong>Price: </strong><%= number_to_currency(@listing.price) %> / <%= @listing.uom.unit %></p>
<p><strong>Qty: </strong><%= @listing.qty %></p>
<p><strong>Category: </strong><%= @listing.category.name %></p>
<p><strong>Type: </strong><%= @listing.subcategory.name %></p>
<p><strong>Description: </strong><%= @listing.description %></p>
<p><strong>Grower: </strong><%= @listing.user.first_name %></p>

<div class="show-image">
  <%= render "image-logic", listing: @listing %>
</div>

<div class="show-edit-delete">

  <% if can? :edit, @listing %>
    <%= link_to "Edit", edit_listing_path(@listing.id) %>
    <%= link_to "Delete", listing_path(@listing.id), method: :delete %>
    <% end %>

<%# when add sold boolean need to add && @listing.sold == false %>
  <% if user_signed_in? && @listing.user.id != current_user.id %>
    <%= link_to "Add to Cart", carts_path(listing_id: @listing.id), method: :post %>
  <% end %>

</div>

<%= link_to "Back", :back %>
