<h1>Cart</h1>

<ol>
  <% @cart.each do | listing | %>
    <li><%= listing.title %>  <%= number_to_currency(listing.price) %> (Grower: <%= listing.user.first_name %>)</li>
  <% end %>
</ol>

<p>Cart Total: $<%= @total %></p>

<%# MAKE SURE ONLY THE SAME GROWER IS COMBINED TOGETHER %>

<%= link_to "Pay for Cart (Using Stripe)", "", id: "stripe" %>

<%= javascript_pack_tag "stripe" %>